<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Constrap</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
  

</head>

<body>
    <header>
      <div class="bx bx-menu" id="menu-icon"></div>
    <a href="index.html" class="logo"><span>CONSTRAP</span></a>
    <ul class="navbar">
        <li><a class="active" href="index.html"><i class="ri-home-3-line"></i><span> Home</span></a></li>
        <li><a href="contact.html"><i class="ri-newspaper-line"></i><span> Rentals</span></a></li>
        <li><a href="#about"><i class="ri-group-line"></i><span> About Us</span></a></li>
        <li><a href="login.html"><i class="ri-message-line"></i><span> Contact Us</span></a></li>
    </ul>
        <!---  <div class="menubar">

      <div class="head">constrap</div>
      <ol>
        <li><a class="active" href="index.html"><i class="ri-home-3-line"></i><span> Home</span></a></li>
        <li><a href="contact.html"><i class="ri-newspaper-line"></i><span> Rentals</span></a></li>
        <li><a href="#about"><i class="ri-group-line"></i><span> About Us</span></a></li>
        <li><a href="login.html"><i class="ri-message-line"></i><span> Contact Us</span></a></li>
        <li><a href="">Rentals</a>
        </li>
      </ol>
    </div>-->
        <div class="main">
            <form action="/logout" method="POST">
        <button id="show-login" name="clicked" value="LOGOUT" class="cta">Logout</button>
    </form>

    </header>

    <div class="cont">
      <div class="hotel_content">
          <br>
          <br>
          <br>
          <br>
          
          <div class="info">
            <center>
            <h2>Book Rooms/Services online</h2>
            <p>LIVE HASSLE FREE!!!</p>
          </center>
          </div>
          <br>
          <br>
          <div class="booking_info">
    
            <div class="booking_details">
        
              <div class="item">
               <select id="options">
                <option>Buy</option>
                <option>Rent</option>
                <option>Service</option>
                <option>Rooms</option>
               </select>
              </div>
              <div class="item">
                <input type="text" class="input" placeholder="Enter Locality / City / Apartment ">
                
              </div>

              <div class="item">
                <div class="cta active">Search</div>
              </div>
              
            </div>
          </div>
    <div class="about">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <center>
      <h1>Frequently Searched Rooms</h1>
    </center>
      <br>
      <div class="division">
        <div class="secc">
      <div class="slider">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <span id="slide-3"></span>
        <div class="image-container">
          <img src="/static/images/img1.jpg" class="slide" width="500" height="300" />
          <img src="/static/images/img2.jpg" class="slide" width="500" height="300" />
          <img src="/static/images/img3.jpg" class="slide" width="500" height="300" />
        </div>
        <div class="buttons">
          <a href="#slide-1"></a>
          <a href="#slide-2"></a>
          <a href="#slide-3"></a>
        </div>
        </div>
      </div>
      </div>
        <div class="secc">
          <h2>Happiness Forever Nights</h2>
          <p>Chennai, TamilNadu</p>
          <h3>Rs. 5000 per month</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button class="cta">Book Now</button>
          <button class="cta">View Details</button>
          <br>
          <br>
          <br>

      <br>
      </div>
      <div class="division">
        <div class="secc">
      <div class="slider">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <span id="slide-3"></span>
        <div class="image-container">
          <img src="/static/images/img1.jpg" class="slide" width="500" height="300" />
          <img src="/static/images/img2.jpg" class="slide" width="500" height="300" />
          <img src="/static/images/img3.jpg" class="slide" width="500" height="300" />
        </div>
        <div class="buttons">
          <a href="#slide-1"></a>
          <a href="#slide-2"></a>
          <a href="#slide-3"></a>
        </div>
        </div>
      </div>
      </div>
        <div class="secc">
          <h2>Happiness Forever Nights</h2>
          <p>Chennai, TamilNadu</p>
          <h3>Rs. 5000 per month</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button class="cta">Book Now</button>
          <button class="cta">View Details</button>
          <br>
          <br>
          <br>

      <br>
      </div>
      <div class="division">
        <div class="secc">
      <div class="slider">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <span id="slide-3"></span>
        <div class="image-container">
          <img src="/static/images/img1.jpg" class="slide" width="500" height="300" />
          <img src="/static/images/img2.jpg" class="slide" width="500" height="300" />
          <img src="/static/images/img3.jpg" class="slide" width="500" height="300" />
        </div>
        <div class="buttons">
          <a href="#slide-1"></a>
          <a href="#slide-2"></a>
          <a href="#slide-3"></a>
        </div>
        </div>
      </div>
      </div>
        <div class="secc">
          <h2>Happiness Forever Nights</h2>
          <p>Chennai, TamilNadu</p>
          <h3>Rs. 5000 per month</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button class="cta">Book Now</button>
          <button class="cta">View Details</button>
          <br>
          <br>
          <br>

      <br>
      </div>
      
    </div>
    
        </div>
        <footer>
          <ul class="social_icon">
            <li><a href="#" class="fb"><i class="ri-facebook-fill"></i></a></li>
            <li><a href="#" class="tw"><i class="ri-twitter-fill"></i></a></li>
            <li><a href="#" class="ig"><i class="ri-instagram-fill"></i></a></li>
            <li><a href="#" class="yt"><i class="ri-youtube-fill"></i></a></li>
          </ul>
          <H2>CONSTRAP</H1>
          <p>© 2023 All Rights Reserved</p>
          
        </footer>
        <img src="/static/images/hotel.png" class="hotel">
      </div>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
  <script>

    document.querySelector("#show-login").addEventListener("click", function() {
    document.querySelector(".popup").classList.add("active");
});
document.querySelector(".popup .close-btn").addEventListener("click", function() {
    document.querySelector(".popup").classList.remove("active");
});
  </script>
</html>